:root {
  --cafe-oscuro: #372314;   /* títulos y textos principales */
  --cafe-medio: #624127;    /* botones y acentos */
  --cafe-gris: #856E5A;     /* texto secundario */
  --crema: #EEE1CD;         /* fondo Navbar y Footer */
  --blanco: #FFFFFF;        /* fondo de páginas y tarjetas */
  --negro: #000000;         /* texto neutro */
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--blanco);
  color: var(--negro);
}

h1, h2, h3, .titulo-display {
  font-family: 'Open Sans', sans-serif;
  color: var(--cafe-oscuro);
}

a { text-decoration: none; }